<h2>to do:</h2>

<dl>
  <dt>no nav application</dt>
  <dd>"Registre sua empresa, daí vem um aviso para se registrar antes"</dd>
  <dd>trocar o palevaá por uma imagem</dd>
  <dt>no index</dt>
  <dd>bootstrap de catalogo de fotos, exemplo de cardapio e gerenciamento interno</dd>
  <dd>frase apelativa "bom pro seu negócio, bom pra você"</dd>
  <dd>Falar do Pálevar</dd>

</dl>