<h1>Características adicionais</h1>
<p><%= link_to I18n.t('features.new_feature'), new_restaurant_feature_path %></p>
<% if @features.present? %> 
  <table>
    <thead>
    <tr>
        <th> <%= Feature.human_attribute_name(:name)%> </th>
    </tr>
    </thead>
    <tbody>
      <% @features.each do |feature| %>
      
        <tr>
          <td> <%= feature.name %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= I18n.t('features.no_feature')%></p>
<% end %>
